In [4]:
import pandas as pd
name_list=['a','b','c']
ages = [20,30,28]
talls = [168,175,183]
df = pd.DataFrame(data={"name": name_list, "age": ages, 'tall' : talls})
df

  name  age  tall
0    a   20   168
1    b   30   175
2    c   28   183

In [8]:
import numpy as np
data = np.array([0,1,1,2,3,3,3,3,5])
print('unique',np.unique(data))

unique [0 1 2 3 5]